* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
}

body {
  display: flex; 
  flex-direction: column; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header a {
  color: #00d4ff;
  text-decoration: none;
  font-weight: bold;
}

.button-container {
  display: flex; 
  justify-content: center; 
  margin-top: 10px; 
}

.button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 15px; 
  text-decoration: none; 
  border-radius: 5px;
  margin: 0 10px; 
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #0056b3;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  flex: 1; 
}

.about {
  padding: 20px;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.skills {
  padding: 20px;
  text-align: center; 
}

.skills-container {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}

.skill {
  margin: 17px; 
  text-align: center; 
  display: flex; 
  align-items: center; 
}

.skill-icon {
  width: 80px; /* Tamanho do ícone */
  height: 80px; /* Tamanho do ícone */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.projects {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
}

.projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.project-item {
  width: 60%; 
  margin-bottom: 30px;
  text-align: center; 
}

.project-item img {
  width: 100%; 
  border-radius: 20px;
}

.project-item p {
  margin-top: 10px;
  font-size: 1.1em;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .project-gallery {
    flex-direction: column; 
  }
}


